body {
  font-family: "Sans", sans-serif;
  background-color: #f5f5f5;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  color: #333;
  text-align: center;
  text-align: center;
  margin-bottom: 30px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: #555;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  color: #666;
  text-align: center;
  margin-bottom: 20px;
}

a:link, a:visited, a:hover, a:active {
  color: blue;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
